* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  /* background: red; */
}

.App {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-top: -70px;
  /* border-radius: 20px; */
  overflow: hidden;
  scale: 0.75;
  height: 750px;
  box-shadow: 10px 10px 15px #e6e4e4;
  /* border: 1px solid #6ec51e; */
}
.infowrapper {
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  scale: 1;
  width: 100%;
}
.main-page {
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  scale: 1;
  width: 100%;
}
/************************************** Homepage *******************************************/
.homepage {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.homepage .div1 {
  height: 100%;
  /* border: 2px solid #438efe; */
  width: 50%;
  text-align: center;
  display: grid;
  place-content: center;
  font-size: 4em;
  font-weight: 640;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.homepage .div1 span{
  color: #6ec51e;

}
.homepage .div2 {
  display: flex;
  flex-direction: column;
}
.homepage .div2 .select-login-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}
.homepage .div2 .select-login-type button {
  outline: none;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2em;
  width: 40%;
  background: #438efe;
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  transition: all 0.5s;
  scale: 0.9;
}
.homepage .div2 .select-login-type button:hover {
  scale: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* border:2px solid #438efe; */
  width: 100%;
  /* background: #f6f9f2; */
  border-bottom: 5px solid #f6f9f2;
  margin-bottom: 20px;
}
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navbar .row {
  display: flex;
  margin-right: 1.2em;
  font-size: 1.3em;
  width: 120px;
  padding: 0.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-align: center;
  border-radius: 10px;
  border-bottom: 2px solid #438efe;
  scale: 0.9;
  transition: all 0.4s;
  text-decoration: none;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar .active > li {
  border-bottom: 5px solid #fa497c;
}

.navbar .analytics {
  text-decoration: none;
  color: black;
}
.navbar .row:hover {
  scale: 1;
  cursor: pointer;
  border-bottom: 2px solid #fa497c;
}
.navbar .logo {
  width: 130px;
  border-radius: 50%;
  /* box-shadow: .5px 0px 9px #438efe; */
}

/************************************** Sidebar *******************************************/
.selection,
.info-feed {
  width: 25%;
  border: 1px solid white;
  background: black;
  background: #fbfbfb;
}
.info-feed {
  width: 40%;
}
.selection h3 {
  color: black;
  margin-left: 1.5em;
}
.selection ul,
.info-feed ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: black;
  background: #fbfbfb;
  width: 100%;
}
.selection ul .row,
.info-feed ul .row {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 50px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: 700;
  scale: 0.94;
  transition: all 0.5s;
}
.info-feed ul .row {
  font-size: 1.4em;
  padding: 1.5em;
}
.selection ul .row:hover,
.info-feed ul .row:hover {
  background: #eef8e2;
  cursor: pointer;
  scale: 1;
}

.selection ul .active {
  color: #97d55e;
}
.planning {
  width: 280px;
  margin: 0.5em;
  border-radius: 20px;
  scale: 0.95;
  transition: all 0.4s;
  border: 1.5px solid #438efe;
  animation: clickme 0.2s infinite forwards;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes clickme {
  0% {
    scale: 0.99;
  }
  100% {
    scale: 1;
  }
}
.planning:hover {
  scale: 1;
  cursor: pointer;
}

.selection .plan-workout {
  color: white;
}
.icon {
  margin-right: 0.9em;
}

/************************************** BOX DISPLAYS *******************************************/
.box-representation {
  background-color: #ffffff;
  width: 200px;
  height: 196px;
  box-shadow: 10px 10px 15px #e6e4e4;
  border-radius: 4px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.95;
  transition: all 0.5s;
}
.box-representation:hover {
  scale: 1;
}

.box-representation .percentage-display,
.box-representation-acc .percentage-display {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 4px;
}
.box-representation .title,
.box-representation-acc .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  padding: 0.7em;
}

.icon-representation {
  font-size: 3em;
}
.icon-rep {
  width: 90px;
  border-radius: 50%;
  margin: 4px;
}

/************************************** DASHBOARD *******************************************/
.dashboard {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-radius: 2px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f9f2;
}

.dashboard .upper-part {
  height: 50px;
}
.dashboard .upper-part h2 {
  margin: 0.4em;
  margin-left: 1.3em;
  color: #438efe;
  font-weight: 700;
  font-size: 2em;
}
.dashboard .upper-part .pre-title {
  color: #6ec51e;
}
.dashboard .box-displays {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard .bottom-part {
  height: 60vh;
  display: flex;
}
.dashboard .bottom-part .graphical-representation {
  width: 75%;
  padding-left: 3em;
  box-shadow: 10px 10px 15px #e6e4e4;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0.5em;
  margin-left: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.98;
  transition: all 0.5s;
}
.dashboard .bottom-part .graphical-representation:hover {
  scale: 1;
}
.dashboard .bottom-part .overall-progress {
  width: 30%;
  display: grid;
  place-items: center;
}

/************************************** ACCRUED *******************************************/
.box-representation-acc {
  background-color: #ffffff;
  width: 200px;
  height: 318px;
  box-shadow: 10px 10px 15px #e6e4e4;
  border-radius: 4px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.95;
  transition: all 0.6s;
}
.box-representation-acc:hover {
  scale: 1;
}

/************************************** INFO-FEED *******************************************/
.info-feed {
  width: 25%;
}
.infofeed-dash {
  padding-left: 0.9em;
  padding: 0 50% 0 15%;
}
.infofeed-dash .header {
  color: #438efe;
  font-size: 1.5em;
  margin-left: 2em;
}
/* SetTargetBox */
.target-box {
  background-color: #ffffff;
  width: 600px;
  box-shadow: 10px 10px 15px #e6e4e4;
  border-radius: 4px;
  margin-left: 0.5em;
  margin-top: -1.5em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.95;
  transition: all 0.6s;
}
.target-box .input-z {
  height: 70px;
  margin: 0.5em;
}
.target-box input {
  height: 40px;
  border-radius: 7px;
  font-size: 1.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-bottom: 0.3px solid #438efe;
}
.target-box h3 {
  font-size: 1.5em;
}
.target-box .btn {
  width: 100%;
}
.target-box .btn button {
  outline: none;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2em;
  width: 100%;
  background: #f6f9f2;
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  transition: all 0.5s;
  scale: 0.9;
}

.target-box .btn button:hover {
  background: #438efe;
  scale: 1;
  color: #e6e4e4;
}

/************************************** SIGNUP-LOGIN *******************************************/

.login-signup {
  width: 500px;
  scale: 0.9;
  height: 480px;
  border: 1px solid #438efe;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #e6e4e4;
}

.login-signup .input-z {
  width: 80%;
}
.login-signup input {
  width: 100%;
  /* height: 60px; */
}
